<h2>Services</h2>
<div class="row service">
    <div class="col-md-2">
        <img src="http://techguystaging.com/files/computer-icon.png">
    </div>
    <div class="col-md-10">
        <h3>Hardware Repair</h3>
        <p>Vestibulum quis metus semper, cursus felis nec, auctor leo. Sed quis mauris in enim rutrum feugiat nec sit amet nulla. Donec ultricies pretium nisi rutrum commodo. Sed augue metus, venenatis et auctor et, luctus vitae orci. In sed gravida nulla. Suspendisse vestibulum congue tincidunt. Vivamus cursus turpis dui.</p>
        <a href="templates/contact.html" class="btn btn-primary">Contact Us</a>
    </div>
</div>
<div class="row service">
    <div class="col-md-2">
        <img src="http://techguystaging.com/files/computer-icon.png">
    </div>
    <div class="col-md-10">
        <h3>Hardware Repair</h3>
        <p>Vestibulum quis metus semper, cursus felis nec, auctor leo. Sed quis mauris in enim rutrum feugiat nec sit amet nulla. Donec ultricies pretium nisi rutrum commodo. Sed augue metus, venenatis et auctor et, luctus vitae orci. In sed gravida nulla. Suspendisse vestibulum congue tincidunt. Vivamus cursus turpis dui.</p>
        <a href="templates/contact.html" class="btn btn-primary">Contact Us</a>
    </div>
</div>
<div class="row service">
    <div class="col-md-2">
        <img src="http://techguystaging.com/files/computer-icon.png">
    </div>
    <div class="col-md-10">
        <h3>Hardware Repair</h3>
        <p>Vestibulum quis metus semper, cursus felis nec, auctor leo. Sed quis mauris in enim rutrum feugiat nec sit amet nulla. Donec ultricies pretium nisi rutrum commodo. Sed augue metus, venenatis et auctor et, luctus vitae orci. In sed gravida nulla. Suspendisse vestibulum congue tincidunt. Vivamus cursus turpis dui.</p>
        <a href="templates/contact.html" class="btn btn-primary">Contact Us</a>
    </div>
</div>